p {
  font-family: Lato;
}
.red{
  color: red;
 
}
h1{
  color: blue;
}
.btn{
  background-color: rgb(1, 1, 27);
  color: white;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
 
}
input{
  background-color:azure;
  border-radius: 5px;
  padding: 6px;
  
}